.home-content {
    background-color: rgba(42,149,33,0.8);
    padding: 2rem;
    border-radius: 10px;
    display: flex;              
    flex-direction: column;   
    justify-content: center;
    text-align: center;
    z-index: 1;
    color: white;
}

.home-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

 

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.logo-home {
    display: flex;              
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;

}

.login-content {
    background-color: rgba(42,149,33,0.8);
    padding: 2rem;
    border-radius: 10px;
    display: flex;              
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    color: white;
    width: 30rem;
}
