.product-content {
    background-color: rgba(42,149,33,0.8);
    margin-top: 100px;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    height: 100vh;
    display: flex;              
    flex-direction: column;   
    z-index: 1;
    color: white;
    border: solid 2px hsla(0, 0%, 92%, 0.836);
}

.header-font{
    background-color: rgb(25, 102, 6);
    padding: 10px;
    border-radius: 10px;
    border: solid 2px hsla(0, 0%, 92%, 0.836);
}